body{
  text-align: center;
  background-color: rgb(234, 234, 234);
} 

table{
  width: 800px;
  height: 800px;  
  margin: 0 auto; 
  background-color: white;
  box-sizing: border-box;
  position: relative;
} 
tr{
  min-height: 100px; 
  box-sizing: border-box;
}
td{
 height: fit-content; 
 min-width: 100px; 
 min-height: 100px;
 box-sizing: border-box; 
}

.dark-cell{
  background-color: rgb(51, 51, 51);
  height: 100px;
  width: 100px;
}

.white-cell{
  background-color: rgb(255, 255, 255);
  height: 100px;
  width: 100px;
}

img{
  width: 60px;
  height: 60px; 
}

.selected{
  border: 6px solid rgb(0, 255, 0); 
}

.movement{
  border: 6px solid rgb(255, 255, 0); 
}

.eat{
  border: 6px solid rgb(255, 0, 0);
}

/* popup style */

.winner{
  background-color: rgba(186, 184, 184, 0.711);
  backdrop-filter: blur(2px); 
  color: rgb(0, 0, 0);   
  height: 85%;
  width: 900px;
  position: absolute;
  z-index: 1; 
  top: 48%;  
  left: 50%;
  transform: translate( -50% , -50%);
  border-radius: 16px; 
  /* box-shadow: 1px 1px 20px 4000px rgba(128, 128, 128, 0.52);  */
  text-align: center;
  padding-top: 340px;        
  box-sizing: border-box;
  font-size: 3em; 
  opacity: 0.8; 
  animation: fadeIn 1.5s linear; 
}

.winner::first-letter{
  font-size: 1.6em;
}

/* popup animation */

@keyframes fadeIn {

  from{ opacity: 0; }
  to{ opacity: 0.7;}
}

/* popup responsiveness */

@media screen and (max-width: 1080px){ 
  .winner{
    height: 100%;
    width: 100%; 
    top: 50%; 
  }
}